body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
}

.container {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  width: 50%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border: 3px solid black;
  border-radius: 7px;
}
h1 {
  font-weight: 300;
}
h2 {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.9;
}

button {
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}

.celcius,
.fahrenheit {
  position: relative;
  top: -16px;
  opacity: 0.8;
  font-size: 15px;
}

.temp {
  font-weight: 400;
  font-size: 40px;
  opacity: 0.8;
  bottom: -10px;
}
.info {
  font-size: 18px;
}

.description {
  text-transform: capitalize;
}
